# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# Build output
lib/
dist/

# Environment variables file
.env

# OS
.DS_Store

# Package lock
package-lock.json
